@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
:root {
  /*(main background)*/
  --very-dark-blue: hsl(233, 47%, 7%);
  /* (card background) */
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  /* (accent) */
  --soft-violet: hsl(277, 64%, 61%);
  --overlay: hsl(277, 64%, 61%, 0.5);
  /* (main heading, stats) */
  --white: hsl(0, 0%, 100%);
  /* (main paragraph) */
  --slightly-transparent-white-1: hsla(0, 0%, 100%, 0.75);
  /* (stat headings) */
  --slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--very-dark-blue);
  color: var(--white);
}

.container {
  max-width: 1024px;
  text-align: center;
  overflow: hidden;
  margin: 50px 20px;
  padding: 0 0 20px;
  border-radius: 10px;
  background-color: var(--dark-desaturated-blue);
}

.card {
  width: 100%;
}

.banner {
  width: 100%;
  height: 400px;
  background: url(../images/image-header-desktop.jpg) no-repeat center/cover;
}

.overlay {
  background-color: var(--overlay);
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}

.title {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 2em;
  margin: 30px 0 20px;
  padding: 0 20px;
  line-height: 1.3;
}

.highlight {
  color: var(--soft-violet);
}

ul {
  list-style-type: none;
}

.description {
  padding: 0 30px;
  margin-bottom: 30px;
  font-size: 0.9rem;
  color: var(--slightly-transparent-white-1);
  line-height: 1.4rem;
  font-family: 'Inter';
}

.stats {
  padding: 0;
}

.stats-item {
  margin-bottom: 20px;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
}

.secondary {
  display: block;
  color: var(--slightly-transparent-white-2);
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1.5px;
  padding-top: .8em;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--white);
}

.attribution a {
  color: #3e52a3;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

@media (min-width: 768px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .banner {
    background: url(../images/image-header-mobile.jpg) no-repeat center/cover;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 0;
    margin-top: 8em;
  }
  .card {
    width: 50%;
  }
  .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 4em;
  }
  .stats-item {
    margin-left: 8%;
    padding-bottom: 16px;
  }
  .description {
    margin-top: 1.5em;
  }
  .attribution {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
/*# sourceMappingURL=styles.css.map */